main {
  width: 100%;
  height: 100%;
}
/* NAV-BAR- CONTAINER---------------------------------------------------------------------------------- */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  background-color: rgb(11, 11, 76);
  margin-left: 10px;
}
nav a {
  display: block;
  padding-top: 20px;
  padding-right: 90px;
  padding-bottom: 20px;
  padding-left: 90px;
  font-size: 20px;
  margin-left: 5px;
  color: #ffffff;
}

/* TITLE-CONTAINER --------------------------------------------------------------------------------------*/
.title-container {
  display: flex;
  justify-content: center;
  width: 3400px;
  height: 190px;
}
h1 {
  margin-top: 55px;
  margin-left: 590px;
  font-size: 55px;
}
.hr-line {
  margin-left: 15px;
  width: 3px;
  background-color: black;
}
h2 {
  margin-right: 530px;
  padding-top: 55px;
}
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-right: 1420px;
}
.contact-info {
  font-weight: bold;
}
/* MAIN- IMG - CONTAINER WITH THE SIDE BUTTON---------------------------------------------------------------------------*/
.img-container {
  position: relative;
  margin-top: 20px;
  margin-left: 580px;
  margin-right: 50px;
  margin-bottom: 20px;
}

#stretch-image {
  margin-left: 12px;
  width: 1394px;
  z-index: 1;
  padding-bottom: 80px;
}
.img-container-text {
  position: absolute;
  width: 400px;
  height: 250px;
  top: 40px;
  right: 40px;
  bottom: 700px;
  left: 30px;
  text-align: center;
  background-color: rgb(11, 11, 76);
  color: #ffffff;
  padding: 1%;
}

.dashed-line-white {
  border: 1px dashed rgb(251, 249, 249);
}
.dashed-line-grey {
  padding-top: 40px;
  border: 4px dashed rgb(105, 103, 103);
}
.article-line-grey {
  position: relative;
  display: flex;
  border: 2px dashed rgb(105, 103, 103);
  width: 1397px;
  top: -22px;
  right: 236px;
}

.img-container-side-bar {
  background-color: rgb(11, 11, 76);
  position: absolute;
  z-index: 2;
  top: 691px;
  left: 324px;
  right: 500px;
  bottom: 0px;
  height: 227px;
  width: 1048px;
}
.side-bar-button {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  text-align: center;
  font-size: 75px;
  top: 60px;
  right: 120px;
  left: 110px;
}
/* ARTICLE- GREY- BOX- CONTAINER---------------------------------------------------------------------------------*/
.grey-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 375px;
  width: 1467px;
  position: relative;
  padding-bottom: 30px;
  margin-left: -25px;
  margin-top: 47px;
}

.grey-box-container .container {
  display: flex;
  background-color: rgb(220, 218, 218);
  width: 360px;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  padding-left: 30px;
  padding-right: 30px;
}

section h3 {
  border-bottom: 2px dashed rgb(105, 103, 103);
  padding-bottom: 16px;
}

.img-style {
  width: 290px;
  height: 90px;
  margin-top: -53px;
}

.p2-container .p2 {
  color: rgb(0, 0, 167);
  cursor: pointer;
  margin-top: -18px;
  margin-left: 258px;
}
/* IMG-TEXT-BOX--------START*/
.img-text-box {
  display: flex;
  justify-content: space-between;
  margin-top: -29px;
}

/* LEFT SIDE OF IMG-TEXT-BOX -------------------------------------------------------------------- */

.left-side {
  display: flex;
  flex-direction: row;
  border-bottom: 2px dashed gray;
  margin-left: 593px;
  margin-right: 49px;
}

.img-text-box .left-side .img-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 390px;
  margin-right: 65px;
  margin-left: 0;
}

.img-text-box .left-side .img {
  height: 299px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 440px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 40px;
}

.text-container .p1 {
  margin-top: 0;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px dashed black;
  font-weight: bold;
}

.text-container .p2 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 57px;
}

.text-container div .p3 {
  display: flex;
  justify-content: end;
  margin-bottom: 0;
}

.text-container .p3 {
  color: rgb(0, 0, 167);
  cursor: pointer;
}

.-container .p3:hover {
  text-decoration: underline;
}

/* RIGHT SIDE OF THE IMG-TEXT-BOX ----------------------------------------------------------------- */

.right-side {
  background-color: lightgray;
  width: 450px;
  height: 350px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 535px;
  margin-top: 20px;
}

.right-side .p1 {
  color: gray;
  border-bottom: 2px dashed gray;
  font-size: 32px;
}

.right-side ul {
  list-style-type: none;
  padding-left: 0;
}

.right-side ul li {
  padding-top: 10px;
  border-bottom: 1px solid gray;
  color: rgb(0, 0, 167);
  cursor: pointer;
  font-size: 22px;
}

.right-side ul li:hover {
  color: rgb(0, 0, 255);
}

/* BOTTOM-IMG-ROW- Style and Position-----------------------------------------------------*/

.img-bottom-row {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 40px;
  left: 584px;
}

.pic-section {
  margin-left: 10px;
  margin-right: 40px;
}
.img {
  width: 271px;
  height: 120px;
  padding-left: 10px;
}
/*FOOTER STYLE AND POSITION-----------------------------------------------------------------------*/
footer {
  background-color: rgb(11, 11, 76);
  color: #ffffff;
  display: flex;
  position: relative;
  align-items: center;
  width: 1396px;
  height: 50px;
  top: 50px;
  left: 593px;
}

.footer-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-p {
  margin-right: 800px;
  padding-left: 5px;
}
