body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  position: relative;
}

#text {
  font-size: 12px; /* Marimea initiala a textului */
  font-weight: bold;
  color: #000;
  opacity: 0;
}
