body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-right: 450px;
    margin-bottom: 200px;
    margin-left: 450px;
    align-content: center;
}