.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .table {
    width: 790px;
    height: 150px;
    background-color: #000000;
    position: relative;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .table .monitor-wrapper {

    width: 770px;
    height: 130px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.30);
    overflow: hidden; /* Ensure the wrapper clips overflowing content */
  }
  
  .table .monitor {
    width: 700px;
    height: 100px;
    background-color: #000000;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
  }
  
  .table .monitor p {
    font-family: 'VT323', monospace;
    font-size: 59px;
    position: relative;
    display: inline-block;
    animation: move 20s infinite linear;
    color: rgba(191, 123, 255, 0.781);;
    background: none;

  }
  
  @keyframes move {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  